# See http://help.github.com/ignore-files/ for more about ignoring files.
default.txt
# dependencies
node_modules

# testing
coverage

# production
build
*.pyc
*.pyd
# misc
.DS_Store
.env
npm-debug.log
